# Lab 1.1 - Cleaning and Analyzing Warehouse Data

## Objective
1. Import a CSV dataset using `pandas`
2. Clean the dataset using multiple techniques
3. Answer questions about using the data. 

*Use the challenge dataset to practice cleaning with regex.*

## Rubric

- 6 pts - Contains all required components and uses professional language
- 5 pts - Contains all required components, but uses unprofessional language, formating, etc. 
- 4 pts - Contains some, but not all, of the required components
- 3 pts - Did not submit

## Pandas reference

In addtion to the methods you learned last lab, you may need the following: 

- `df.dtypes` - the data types of the each column
- `df.columns` - the name of each column
- `df.shape` - the number of rows and columns of the dataset
- `df.dropna()` - removes null values
- `pd.todatetime(...)` - sets a given column to a `datetime` object
- `df.column.isunique` - returns True if all data are unique
- `df.column.unique()` - returns all of the uniue values of a column
- `df['col'].replace(...,...)` - replaces values in a column with another value
- `df['col'].value_counts()` - returns the value counts of each unique value
- `df['col'].quantile(0.25) or .quartile(0.75) ` - returns the value at 25% or 75% precent

## Preparing Data

In this section, we will import and prepare our data to be manipulated

Import `pandas` and `matploutlib,pyplot` here.

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

Use `pandas`' `read_csv()` to create a Dataframe called `warehouse`.

In [3]:
data = pd.read_csv('warehouse_data.csv')

Display the first 5 rows of `warehouse`.

In [4]:
data.head(5)

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD182494,ID6197211592,2019-06-22,Thompson,"[('Lucent 330S', 1), ('Thunder line', 2), ('iS...",12200,79.89,-37.815105,144.932843,10,11059.89,Winter,True,1.2800,perfect phone and trusted seller. phone itself...,True
1,ORD395518,ID0282825849,2019-12-29,Thompson,"[('Thunder line', 1), ('Universe Note', 2)]",9080,62.71,-37.802736,144.951118,0,9142.71,Summer,False,1.1621,it keeps dropping calls the wifi don't work th...,False
2,ORD494479,ID0579391891,2019-03-02,Nickolson,"[('Thunder line', 1), ('pearTV', 2)]",10670,65.87,-37.821302,144.957581,10,9668.87,Autumn,False,1.0949,five stars this is a great cheap phone.,True
3,ORD019224,ID4544561904,2019-01-12,Nickolson,"[('Universe Note', 1), ('Alcon 10', 2), ('Oliv...",24800,57.61,-37.811416,144.973073,15,21137.61,Summer,False,0.8571,charger did not fit the charger didn't fit.,False
4,ORD104032,ID6231506320,2019-11-28,Nickolson,"[('Universe Note', 1), ('Olivia x460', 1), ('i...",9145,75.54,37.823859,144.969892,25,6934.29,Spring,False,0.5867,four stars good,True

Display the column names of the Dataframe.

In [5]:
data.columns

Index(['order_id', 'customer_id', 'date', 'nearest_warehouse', 'shopping_cart',
       'order_price', 'delivery_charges', 'customer_lat', 'customer_long',
       'coupon_discount', 'order_total', 'season', 'is_expedited_delivery',
       'distance_to_nearest_warehouse', 'latest_customer_review',
       'is_happy_customer'],
      dtype='object')

How many data points are in our table?

In [6]:
data.dtypes

order_id                          object
customer_id                       object
date                              object
nearest_warehouse                 object
shopping_cart                     object
order_price                        int64
delivery_charges                 float64
customer_lat                     float64
customer_long                    float64
coupon_discount                    int64
order_total                      float64
season                            object
is_expedited_delivery               bool
distance_to_nearest_warehouse    float64
latest_customer_review            object
is_happy_customer                   bool
dtype: object

We can use one command to answer these three questions: 
- What is the average coupon discount?
- What is the largest order price?
- What is the smallest distance to warehouse?

In [7]:
data.describe()

,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,distance_to_nearest_warehouse
count,500.000000,500.000000,500.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,25522.216000,76.658200,-35.835234,144.969494,10.890000,3.920967e+04,2.204224
std,86333.729169,14.481465,12.045393,0.022720,8.649134,2.741940e+05,8.812416
min,585.000000,46.350000,-37.827123,144.924967,0.000000,6.392900e+02,0.107800
25%,7050.000000,65.982500,-37.818222,144.953488,5.000000,6.454735e+03,0.751425
50%,12807.500000,76.310000,-37.812165,144.965357,10.000000,1.129396e+04,1.030100
75%,20360.000000,82.555000,-37.805364,144.983985,15.000000,1.811919e+04,1.408625
max,947691.000000,114.040000,37.826339,145.019837,25.000000,5.688270e+06,94.973400

## Cleaning Data

**Data cleaning** is the process of removing errors and inaccuracies from data to make it ready for analysis In these next steps, we will explore and clean our dataset. 


Check the dataset for null(or empty) values. How many null values are there and in which columns?

In [8]:
data.isnull()

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

So `season` and `latest_customer_review` have missing values. Fill the drop the rows with missing values. You should have 491 rows remaining.

In [9]:
data.dropna()

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD182494,ID6197211592,2019-06-22,Thompson,"[('Lucent 330S', 1), ('Thunder line', 2), ('iS...",12200,79.89,-37.815105,144.932843,10,11059.89,Winter,True,1.2800,perfect phone and trusted seller. phone itself...,True
1,ORD395518,ID0282825849,2019-12-29,Thompson,"[('Thunder line', 1), ('Universe Note', 2)]",9080,62.71,-37.802736,144.951118,0,9142.71,Summer,False,1.1621,it keeps dropping calls the wifi don't work th...,False
2,ORD494479,ID0579391891,2019-03-02,Nickolson,"[('Thunder line', 1), ('pearTV', 2)]",10670,65.87,-37.821302,144.957581,10,9668.87,Autumn,False,1.0949,five stars this is a great cheap phone.,True
3,ORD019224,ID4544561904,2019-01-12,Nickolson,"[('Universe Note', 1), ('Alcon 10', 2), ('Oliv...",24800,57.61,-37.811416,144.973073,15,21137.61,Summer,False,0.8571,charger did not fit the charger didn't fit.,False
4,ORD104032,ID6231506320,2019-11-28,Nickolson,"[('Universe Note', 1), ('Olivia x460', 1), ('i...",9145,75.54,37.823859,144.969892,25,6934.29,Spring,False,0.5867,four stars good,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ORD475510,ID0247417082,2019-08-07,Nickolson,"[('Alcon 10', 2), ('iAssist Line', 2)]",386776,59.70,-37.817662,144.970405,10,20174.70,Winter,True,0.1282,i bought this phone to send to my sister in .....,False
496,ORD086060,ID0130015098,2019-03-28,Nickolson,"[('pearTV', 2), ('Candle Inferno', 2), ('Toshi...",22120,62.29,-37.815469,144.968083,0,22182.29,Autumn,True,0.3711,one star it was the wrong phone,False
497,ORD079320,ID2707985442,2019-10-16,Nickolson,"[('pearTV', 1), ('Alcon 10', 1), ('Lucent 330S...",16490,106.98,-37.805979,144.966101,0,16596.98,Spring,True,1.4368,love this phone! has many great features!,True
498,ORD026546,ID0060088412,2019-05-19,Nickolson,"[('iStream', 1), ('Candle Inferno', 1), ('iAss...",5030,79.89,37.820071,144.984435,10,4606.89,Autumn,True,1.3191,spoiled son's birthday present son wanted one ...,True
499,ORD085447,ID5257193650,2019-05-25,Bakers,"[('iStream', 1), ('Toshika 750', 1), ('Alcon 1...",22370,64.62,-37.812231,144.988679,15,19079.12,Autumn,True,0.6277,two stars the phone is way smaller then it loo...,False

Now let's take a look at the data types of each column and see if they make sense.

In [10]:
data.dtypes

order_id                          object
customer_id                       object
date                              object
nearest_warehouse                 object
shopping_cart                     object
order_price                        int64
delivery_charges                 float64
customer_lat                     float64
customer_long                    float64
coupon_discount                    int64
order_total                      float64
season                            object
is_expedited_delivery               bool
distance_to_nearest_warehouse    float64
latest_customer_review            object
is_happy_customer                   bool
dtype: object

Data type of date column is object instead of datetime. So fix this problem and check the datatypes again.

In [13]:
pd.to_datetime(data['date'])

0     2019-06-22
1     2019-12-29
2     2019-03-02
3     2019-01-12
4     2019-11-28
         ...
495   2019-08-07
496   2019-03-28
497   2019-10-16
498   2019-05-19
499   2019-05-25
Name: date, Length: 500, dtype: datetime64[ns]

In [14]:
data.dtypes

order_id                          object
customer_id                       object
date                              object
nearest_warehouse                 object
shopping_cart                     object
order_price                        int64
delivery_charges                 float64
customer_lat                     float64
customer_long                    float64
coupon_discount                    int64
order_total                      float64
season                            object
is_expedited_delivery               bool
distance_to_nearest_warehouse    float64
latest_customer_review            object
is_happy_customer                   bool
dtype: object

Now let's check for errors. 

First, let's make sure that our data in `order_id` is unique and we don't have any duplicates.

In [15]:
data['order_id'].is_unique

True

Now, let's check what the unique values of warehouse are.

In [16]:
data['order_id'].unique()

array(['ORD182494', 'ORD395518', 'ORD494479', 'ORD019224', 'ORD104032',
       'ORD146760', 'ORD337984', 'ORD072312', 'ORD377837', 'ORD462194',
       'ORD034800', 'ORD361636', 'ORD124395', 'ORD255642', 'ORD496722',
       'ORD449130', 'ORD036056', 'ORD428910', 'ORD007249', 'ORD232940',
       'ORD178590', 'ORD157688', 'ORD314979', 'ORD339672', 'ORD239838',
       'ORD340641', 'ORD330543', 'ORD052585', 'ORD035930', 'ORD406814',
       'ORD069995', 'ORD383725', 'ORD026682', 'ORD349525', 'ORD215329',
       'ORD387808', 'ORD154758', 'ORD157353', 'ORD430536', 'ORD453282',
       'ORD466433', 'ORD481832', 'ORD344472', 'ORD473815', 'ORD098336',
       'ORD164452', 'ORD029585', 'ORD212818', 'ORD468449', 'ORD235371',
       'ORD403400', 'ORD212584', 'ORD439821', 'ORD288212', 'ORD308765',
       'ORD442452', 'ORD370065', 'ORD386513', 'ORD405547', 'ORD476072',
       'ORD261924', 'ORD028755', 'ORD363569', 'ORD239056', 'ORD103199',
       'ORD288725', 'ORD005232', 'ORD158007', 'ORD345282', 'ORD355878',
       'ORD122655', 'ORD371930', 'ORD230298', 'ORD242226', 'ORD228044',
       'ORD070810', 'ORD063307', 'ORD016841', 'ORD347594', 'ORD457758',
       'ORD300049', 'ORD016018', 'ORD137495', 'ORD319178', 'ORD076632',
       'ORD138302', 'ORD208711', 'ORD168543', 'ORD151330', 'ORD300924',
       'ORD141734', 'ORD202296', 'ORD235478', 'ORD051670', 'ORD456259',
       'ORD354413', 'ORD182183', 'ORD397354', 'ORD324141', 'ORD226452',
       'ORD043067', 'ORD228614', 'ORD066333', 'ORD452012', 'ORD222362',
       'ORD058255', 'ORD315179', 'ORD170004', 'ORD075922', 'ORD189717',
       'ORD303289', 'ORD016275', 'ORD233901', 'ORD357914', 'ORD293148',
       'ORD202010', 'ORD065661', 'ORD226730', 'ORD322017', 'ORD452642',
       'ORD059126', 'ORD417453', 'ORD426744', 'ORD365314', 'ORD239025',
       'ORD381266', 'ORD337877', 'ORD275535', 'ORD059963', 'ORD188735',
       'ORD226150', 'ORD075963', 'ORD473288', 'ORD439316', 'ORD230243',
       'ORD369692', 'ORD197167', 'ORD322420', 'ORD048045', 'ORD234302',
       'ORD032894', 'ORD481651', 'ORD074888', 'ORD208080', 'ORD498207',
       'ORD134511', 'ORD359121', 'ORD431050', 'ORD283406', 'ORD256605',
       'ORD449901', 'ORD173202', 'ORD480424', 'ORD047163', 'ORD022239',
       'ORD265921', 'ORD127141', 'ORD067226', 'ORD064801', 'ORD294462',
       'ORD345202', 'ORD044505', 'ORD129378', 'ORD130410', 'ORD457767',
       'ORD153030', 'ORD234851', 'ORD179719', 'ORD317333', 'ORD190038',
       'ORD347364', 'ORD210087', 'ORD178601', 'ORD036597', 'ORD252775',
       'ORD316807', 'ORD354341', 'ORD328132', 'ORD215775', 'ORD372277',
       'ORD226807', 'ORD498590', 'ORD008127', 'ORD193150', 'ORD352593',
       'ORD267241', 'ORD497096', 'ORD152093', 'ORD246022', 'ORD288323',
       'ORD234525', 'ORD414145', 'ORD072308', 'ORD053558', 'ORD394848',
       'ORD023715', 'ORD061084', 'ORD460883', 'ORD103075', 'ORD420866',
       'ORD057521', 'ORD365002', 'ORD428471', 'ORD489366', 'ORD451441',
       'ORD474833', 'ORD136412', 'ORD333358', 'ORD401278', 'ORD282679',
       'ORD167693', 'ORD412934', 'ORD301674', 'ORD407975', 'ORD202308',
       'ORD086903', 'ORD232026', 'ORD266257', 'ORD312372', 'ORD166670',
       'ORD225422', 'ORD121712', 'ORD267220', 'ORD058244', 'ORD027780',
       'ORD271609', 'ORD113908', 'ORD080574', 'ORD374107', 'ORD042766',
       'ORD262488', 'ORD465360', 'ORD286712', 'ORD049427', 'ORD184511',
       'ORD077818', 'ORD387574', 'ORD420200', 'ORD450897', 'ORD468473',
       'ORD321270', 'ORD267040', 'ORD493666', 'ORD361759', 'ORD215616',
       'ORD074913', 'ORD235383', 'ORD024972', 'ORD249031', 'ORD113085',
       'ORD073993', 'ORD025094', 'ORD112722', 'ORD409115', 'ORD328848',
       'ORD017212', 'ORD128538', 'ORD494241', 'ORD328292', 'ORD151721',
       'ORD205507', 'ORD244594', 'ORD094945', 'ORD028604', 'ORD374251',
       'ORD289920', 'ORD177535', 'ORD139508', 'ORD004602', 'ORD004361',
       'ORD005286', 'ORD499540', 'ORD366469', 'ORD037011', 'ORD383461',
       'ORD414419', 'ORD063814', 'ORD131352', 'ORD436478', 'ORD434570',
       'ORD310531', 'ORD341013', 'ORD236167', 'ORD315504', 'ORD088885',
       'ORD175085', 'ORD004848', 'ORD131664', 'ORD192391', 'ORD339649',
       'ORD321832', 'ORD236948', 'ORD253502', 'ORD176936', 'ORD086444',
       'ORD413882', 'ORD010057', 'ORD010677', 'ORD021461', 'ORD379975',
       'ORD336893', 'ORD089655', 'ORD277358', 'ORD060602', 'ORD106414',
       'ORD039111', 'ORD209997', 'ORD346356', 'ORD165713', 'ORD256016',
       'ORD028403', 'ORD276878', 'ORD001041', 'ORD496181', 'ORD158346',
       'ORD241414', 'ORD404813', 'ORD291961', 'ORD420807', 'ORD190200',
       'ORD197918', 'ORD124413', 'ORD334485', 'ORD320916', 'ORD010913',
       'ORD051005', 'ORD279402', 'ORD049313', 'ORD463025', 'ORD214700',
       'ORD497160', 'ORD170576', 'ORD469852', 'ORD177002', 'ORD058920',
       'ORD116440', 'ORD193841', 'ORD021509', 'ORD108392', 'ORD127881',
       'ORD347062', 'ORD359903', 'ORD250175', 'ORD113670', 'ORD103709',
       'ORD343782', 'ORD455246', 'ORD307978', 'ORD026756', 'ORD021786',
       'ORD407964', 'ORD381638', 'ORD497037', 'ORD184906', 'ORD453377',
       'ORD068296', 'ORD463964', 'ORD352051', 'ORD285119', 'ORD259052',
       'ORD401780', 'ORD296636', 'ORD349135', 'ORD130025', 'ORD104003',
       'ORD053567', 'ORD464981', 'ORD191503', 'ORD290674', 'ORD341686',
       'ORD481148', 'ORD393183', 'ORD127153', 'ORD139543', 'ORD068250',
       'ORD421797', 'ORD109384', 'ORD118137', 'ORD428011', 'ORD408988',
       'ORD241112', 'ORD176554', 'ORD051673', 'ORD024391', 'ORD077302',
       'ORD015029', 'ORD360393', 'ORD363515', 'ORD129529', 'ORD110606',
       'ORD242864', 'ORD229308', 'ORD424374', 'ORD056609', 'ORD420507',
       'ORD442067', 'ORD165627', 'ORD057456', 'ORD244567', 'ORD161245',
       'ORD332011', 'ORD190264', 'ORD490527', 'ORD381949', 'ORD216875',
       'ORD177106', 'ORD092009', 'ORD239747', 'ORD333990', 'ORD016609',
       'ORD122150', 'ORD492107', 'ORD389541', 'ORD265905', 'ORD371242',
       'ORD065457', 'ORD270933', 'ORD080001', 'ORD083728', 'ORD262556',
       'ORD469769', 'ORD014742', 'ORD200084', 'ORD243905', 'ORD089966',
       'ORD077215', 'ORD057375', 'ORD139834', 'ORD199125', 'ORD280009',
       'ORD039664', 'ORD144770', 'ORD314525', 'ORD355763', 'ORD206559',
       'ORD191543', 'ORD204657', 'ORD032042', 'ORD197091', 'ORD495312',
       'ORD353238', 'ORD355844', 'ORD150293', 'ORD027740', 'ORD163916',
       'ORD317652', 'ORD198111', 'ORD491234', 'ORD431829', 'ORD386882',
       'ORD376088', 'ORD184184', 'ORD442197', 'ORD015196', 'ORD326400',
       'ORD249776', 'ORD273727', 'ORD382455', 'ORD007904', 'ORD436067',
       'ORD115766', 'ORD153759', 'ORD124286', 'ORD337311', 'ORD071953',
       'ORD330289', 'ORD387878', 'ORD144784', 'ORD330641', 'ORD327155',
       'ORD020395', 'ORD454128', 'ORD453668', 'ORD175025', 'ORD449772',
       'ORD374508', 'ORD109308', 'ORD409233', 'ORD078283', 'ORD043450',
       'ORD194707', 'ORD050839', 'ORD361982', 'ORD033121', 'ORD030513',
       'ORD213192', 'ORD360739', 'ORD234473', 'ORD118905', 'ORD161955',
       'ORD182549', 'ORD435271', 'ORD082002', 'ORD034351', 'ORD379700',
       'ORD475510', 'ORD086060', 'ORD079320', 'ORD026546', 'ORD085447'],
      dtype=object)

Thompson and thompson should be the same, but here they are being counted as different warehouse. Similarly Nickolson and nickolson are same. Change all of the lowercase names to Title case.

In [17]:
data['nearest_warehouse'].str.title()

0       Thompson
1       Thompson
2      Nickolson
3      Nickolson
4      Nickolson
         ...
495    Nickolson
496    Nickolson
497    Nickolson
498    Nickolson
499       Bakers
Name: nearest_warehouse, Length: 500, dtype: object

Check the quantities of each warehouse.

In [29]:
data['order_id'].value_counts()

order_id
ORD182494    1
ORD214700    1
ORD250175    1
ORD359903    1
ORD347062    1
            ..
ORD044505    1
ORD345202    1
ORD294462    1
ORD064801    1
ORD085447    1
Name: count, Length: 500, dtype: int64

The value counts should be Thompson: 197, Nickolson: 184, Bakers: 119

Check the counts and unique values of `is_happy_customer`.

In [26]:
data['is_happy_customer'].value_counts()

is_happy_customer
True     359
False    141
Name: count, dtype: int64

Create a table with `order_price`, `delivery_charges`, `coupon_discount`, and `order_total`. Look at the first 10 rows. Is the `order_total` column correct?

In [27]:
pd.read_csv('warehouse_data.csv', usecols=['order_price', 'delivery_charges', 'coupon_discount', 'order_total'])

     order_price  delivery_charges  coupon_discount  order_total
0          12200             79.89               10     11059.89
1           9080             62.71                0      9142.71
2          10670             65.87               10      9668.87
3          24800             57.61               15     21137.61
4           9145             75.54               25      6934.29
..           ...               ...              ...          ...
495       386776             59.70               10     20174.70
496        22120             62.29                0     22182.29
497        16490            106.98                0     16596.98
498         5030             79.89               10      4606.89
499        22370             64.62               15     19079.12

[500 rows x 4 columns]

### Remove Outliers

We are going to remove statistical outliers in `order_total`. To remove outliers, follow this process:

- Find upper and lower quartiles
- Find IQR range
- Find upper and lower limit
- Remove elements

In [30]:
data['order_total'].quantile(.25)

6454.735

In [31]:
data['order_total'].quantile(.75)

18119.1875

There are 18 records with outliers to remove.

## Explore Data

Now that our data is clean, we can answer questions about it!

What is the largest order?

What is the smallest order?

Without outliers, what are the top 5 most expensive orders?

What warehouse is the closest to most customers? Create a visualization.

What percentage of customers are satisfied with their purchase? Create a visualization.